@charset "UTF-8";
body {
    width: 100%;
    background-color: rgba(243, 243, 243, 0.822);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tabelaspec {
border-spacing: 0px;
}

.tabelaspec tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.3);
}
.tabelaspec td {
    color: #ffffff;
    padding: 5px 10px;
    border-bottom: solid 1px rgba(0 , 0, 0, 0.5);
} 
body h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50;
}
.organizar {
    display: block;
    margin: 90px 250px;
    width: 800px;
    word-wrap: break-word;
}
body h1::before {
    content: '';
    border: solid 1px navy;
    width: 800px;
    height: 2px;
    display: block;
    background-color: navy;
    margin-bottom: 30px;
}
.foto-legenda img{
    height: 50%;
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0 , 0, 0, 0.5);
}
.organizar {
    display: block;
    top: 50px;
}
#imagem {
    height: 20%;
    width: 50%;
}
.div_tabela {
    opacity: 1;
    background: url("/Imagens/wp4655435-bmw-s1000rr-2019-wallpapers.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 800px 600px;
    background-color: #ffffff;

}
div.painel {
    display: inline-block;
    position: relative;
    background-color:  #ffffff;
    width: 320px;
}

div.painel p {
    background-color: #ffffff;
    position: absolute;
    display: block;
    bottom: 10px;
    width: 100%;
    height: 70px;
    opacity: 0;
    transition: .8s;
    box-sizing: border-box;
    
}
div.painel:hover p {
    opacity: 1;
    font-weight: 600;
    font-size: 13pt;
    padding: 5px 10px;
}
div.painel p::after {
    content: '';
    width: 200px;
    height: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    background-color: #606060;
   
}


html, body{
    margin: 0;
    padding: 0;
 }
 